In [1]:
import psycopg2
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import lxml
import html5lib
import re

In [2]:
from psycopg2 import sql
from sqlalchemy import create_engine

In [ ]:
def get_df(url):
    # Get url
    table_class="wikitable sortable jquery-tablesorter"
    response=requests.get(url)
    # Parse the response 
    soup = BeautifulSoup(response.text, 'html.parser')
    soup_tabla=soup.find('table',{'class':"wikitable"})
    df=pd.read_html(str(soup_tabla), flavor= 'html5lib')
    df=pd.DataFrame(df[0])
    return df

In [49]:
df = get_df('https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes')
df.columns = df.columns.get_level_values(1)
df.columns = df.columns.str.replace(r'\[[^\]]*\]', '', regex=True)
df['Country name'] = df['Country name'].apply(lambda x: re.sub(r'\[[^\]]*\]|\([^)]*\)', '', x).strip())

In [58]:
world = df[['Country name', 'Alpha-3 code', 'Official state name']]
world.tail(30)

,Country name,Alpha-3 code,Official state name
241,Timor-Leste,TLS,The Democratic Republic of Timor-Leste
242,Togo,TGO,The Togolese Republic
243,Tokelau,TKL,Tokelau
244,Tonga,TON,The Kingdom of Tonga
245,Trinidad and Tobago,TTO,The Republic of Trinidad and Tobago
246,Tunisia,TUN,The Republic of Tunisia
247,Türkiye,TUR,The Republic of Türkiye
248,Turkmenistan,TKM,Turkmenistan
249,Turks and Caicos Islands,TCA,The Turks and Caicos Islands
250,Tuvalu,TUV,Tuvalu
251,Uganda,UGA,The Republic of Uganda
252,Ukraine,UKR,Ukraine
253,United Arab Emirates,ARE,The United Arab Emirates
254,United Kingdom of Great Britain and Northern I...,GBR,The United Kingdom of Great Britain and Northe...
255,United States Minor Outlying Islands,UMI,"Baker Island, Howland Island, Jarvis Island, J..."
256,United States of America,USA,The United States of America
257,United States Virgin Islands – See Virgin Isla...,United States Virgin Islands – See Virgin Isla...,United States Virgin Islands – See Virgin Isla...
258,Uruguay,URY,The Oriental Republic of Uruguay
259,Uzbekistan,UZB,The Republic of Uzbekistan
260,Vanuatu,VUT,The Republic of Vanuatu
261,"Vatican City – See Holy See, The.","Vatican City – See Holy See, The.","Vatican City – See Holy See, The."
262,Venezuela,VEN,The Bolivarian Republic of Venezuela
263,Viet Nam,VNM,The Socialist Republic of Viet Nam
264,Virgin Islands,VGB,The Virgin Islands
265,Virgin Islands,VIR,The Virgin Islands of the United States
266,Wallis and Futuna,WLF,The Territory of the Wallis and Futuna Islands
267,Western Sahara,ESH,The Sahrawi Arab Democratic Republic
268,Yemen,YEM,The Republic of Yemen
269,Zambia,ZMB,The Republic of Zambia
270,Zimbabwe,ZWE,The Republic of Zimbabwe

In [ ]:
america = get_df('https://en.wikipedia.org/wiki/Americas')
america.columns = america.columns.str.replace(r'\[[^\]]*\]', '', regex=True)
america['Country or territory'] = america['Country or territory'].apply(lambda x: re.sub(r'\[[^\]]*\]|\([^)]*\)', '', x).strip())

In [9]:
conn = psycopg2.connect (user = 'postgres', password = 'roma2023', port = '5432', host = 'localhost', database = 'curso')

In [10]:
cursor = conn.cursor()

In [11]:
engine = create_engine('postgresql://postgres:roma2023@localhost/curso')

In [19]:
p_wiki.to_sql(name = 'paises', con = engine, if_exists='replace', index=False)

271

In [20]:
eeeee

NameError: name 'eeeee' is not defined

In [ ]:
conn.close()