In [1]:
import psycopg2
import requests 
from bs4 import BeautifulSoup 
import pandas as pd
import lxml
import html5lib

In [2]:
from psycopg2 import sql
from sqlalchemy import create_engine

In [3]:
# Get url
url="https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(url)
# Parse the response 
soup = BeautifulSoup(response.text, 'html.parser')
worldtable=soup.find('table',{'class':"wikitable"})

In [4]:
df=pd.read_html(str(worldtable), flavor= 'html5lib')
df=pd.DataFrame(df[0])
df.columns = df.columns.get_level_values(1)
df.columns = df.columns.str.replace(r'\[[^\]]*\]', '', regex=True)
df['Country name'] = df['Country name'].apply(lambda x: x.replace(r'[[^]]*\)',''))

In [5]:
df.head(1)

,Country name,Official state name,Sovereignty,Alpha-2 code,Alpha-3 code,Numeric code,Subdivision code links,Internet ccTLD
0,Afghanistan,The Islamic Republic of Afghanistan,UN member state,.mw-parser-output .monospaced{font-family:mono...,AFG,004,ISO 3166-2:AF,.af

In [6]:
df.columns

Index(['Country name', 'Official state name', 'Sovereignty', 'Alpha-2 code',
       'Alpha-3 code', 'Numeric code', 'Subdivision code links',
       'Internet ccTLD'],
      dtype='object')

In [7]:
p_wiki = df[['Country name', 'Alpha-3 code', 'Official state name']]

In [8]:
conn = psycopg2.connect (user = 'postgres', password = 'www', port = 'www', host = 'localhost', database = 'curso')

In [9]:
cursor = conn.cursor()

In [10]:
engine = create_engine('postgresql://postgres:www@localhost/curso')

In [11]:
p_wiki.head()

     Country name Alpha-3 code                          Official state name
0     Afghanistan          AFG          The Islamic Republic of Afghanistan
1   Åland Islands          ALA                                        Åland
2         Albania          ALB                      The Republic of Albania
3         Algeria          DZA  The People's Democratic Republic of Algeria
4  American Samoa          ASM              The Territory of American Samoa

In [16]:
p_wiki.to_sql(name = 'paises', con = engine, if_exists='replace', index=False)

271

In [17]:
conn.close()